<!-- Control Incremetador -->

<h6 class="card-subtitle mb-2 text-muted">{{titulo}}</h6>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <button class="btn btn-outline-primary" (click)="cambiarVal(-5)" type="button" id="button-addon1">
      <i class="mdi mdi-minus-circle-outline"></i>
    </button>
  </div>
  <input name="valIng" #viewChildtag type="text" class="form-control" [(ngModel)]="progreso" (ngModelChange)="ngMoChange($event)" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
  <div class="input-group-append">
    <button class="btn btn-outline-primary" (click)="cambiarVal(+5)" type="button" id="button-addon2">
      <i class="mdi mdi-plus-circle-outline"></i>
    </button>
  </div>
</div>
